streamlit == 1.12.0
streamlit-nested-layout
pandas ==1.5.3
numpy == 1.23.5
scikit-learn == 1.2.2
scikit-survival == 0.20.0
formulaic == 0.6.6
lifelines == 0.27.8
cloudpickle == 3.0.0
altair == 4.2.0
seaborn == 0.11.2
matplotlib == 3.5.1
joblib
python-dateutil
